@model List<MembeDetails>
@{
    ViewData["Title"] = "Member List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-hover">
<thead>
<tr>
    <th scope="col">Name</th>
    <td >Phone Number</td>
    <td >Timing</td>
    <td >Email</td>
            <td>Blood group</td>
     <td></td>
</tr>
</thead>
    <tbody>
        <tr>
            
           @foreach(var detail in Model.Take(50))
            { 
                <tr>
                <th scope="row">@detail.Name</th>
                <th scope="row">@detail.Phone</th>
                <th scope="row">@detail.Timing</th>
                <th scope="row">@detail.Email</th>
                <th scope="row">@detail.Bloodgrp</th>
                <th scope="row"><a href="ViewMember/@detail.Id">Edit </a> </th>
                </tr>
               
                
           }
            
       </tr>
    </tbody>

</table>